<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>dictionary</title>
</head>
<body>

	<div id="mokuji">
		<h1>Index</h1>
		<section>
			<h2>数学Ⅰ</h2>
			<br> <a href="#1">方程式と不等式</a>
			<h3>
				<a name="1"></a> ◦方程式と不等式
			</h3>
			<button onclick="">1.乗法の公式　重要度（カウンターの数字）</button>
			<br>
		</section>
		<section>
			<h2>数学A</h2><br>
		</section>
		<section>
			<h2>数学Ⅱ</h2><br>
		</section>
		<section>
			<h2>数学B</h2><br>
		</section>


	</div>
</body>
</html>